[submodule "sd-08-project-zoo-function"]
	path = sd-08-project-zoo-function
	url = https://github.com/tryber/sd-08-project-zoo-function
[submodule "sd-08-project-playground-function"]
	path = sd-08-project-playground-function
	url = https://github.com/tryber/sd-08-project-playground-function
